@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zen+Old+Mincho:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Righteous&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navlink{
  color:rgba(255,255,255,.55);
  text-decoration: none;
  font-family: 'Righteous', cursive;
  justify-content: flex-end;
}
.navitem{
 margin-left: auto;
 margin-right: auto;
}

.navlink:hover{
  color: gray;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  bottom: 20;
  z-index: 100;
}
.image{
  border-radius: 900px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.image-container{
  padding-top:20px;
  /* width: 50%; */
  /* align-self: center;
  text-align: center; */
  /* margin-top: 50px; */
  /* position: relative; */
  
}

.about-container{
  /* position: absolute; */
  /* background-color: #393E46; */
  align-self: center;
  /* width: 50%; */
  height: 80vh;
  /* margin-top: -100px; */
  z-index: -1;
  /* padding:50px */
}

.parallax {
  /* The image used */
  background-image: url("./assets/images/contact.png");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input{
  background-color: rgba(120, 122, 145,.55) !important;
  /* background-color: transparent !important; */
  color:#EEEEEE !important;
  border: none !important;
  /* border-bottom: 2px solid gray !important; */
}

::placeholder {
  color:#EEEEEE !important;
  font-family: 'Righteous', cursive;
}

.form-button{
  font-family: 'Righteous', cursive;
  width: 200px !important;
  background-color: rgba(120, 122, 145,.55) !important;
  color: '#EEEEEE' !important;
  border: none !important
}

.test-container{
  /* border: 1px solid gray; */
  width: 40vw;
  height: '10%';
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  justify-content: center !important;
  margin: auto;
  left: 0;  right: 0;
}

.icon{
  /* justify-content: flex-end; */
  right: 0;
  
}

.contact-title{
  font-size: 100px;
  font-family: 'Righteous', cursive;
  color:#787A91;
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
}

.about-text{
  font-size: 1.1vw;
  font-family: 'Righteous', cursive;
  color: rgba(178, 177, 185,.5) !important;

}

.about-title{
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Righteous', cursive;
  color: rgba(178, 177, 185,.55) !important;

}

.name{
  font-family: 'Righteous', cursive;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(178, 177, 185);

}

.job{
  color: rgba(178, 177, 185,.55);
  font-family: 'Righteous', cursive;
  font-size: 2vw;
  font-weight: thin;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}