@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zen+Old+Mincho:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Righteous&display=swap');
/* html {
  scroll-behavior: smooth;
} */




.navlink{
  color:rgba(255,255,255,.55);
  text-decoration: none;
  font-family: 'Righteous', cursive;
  justify-content: flex-end;
}
.navitem{
 margin-left: auto;
 margin-right: auto;
}

.navlink:hover{
  color: gray;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  bottom: 20;
  z-index: 100;
}
.image{
  border-radius: 900px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.image-container{
  padding-top:20px;
  
}

.about-container{
  align-self: center;
  height: 80vh;
  z-index: -1;
}

.parallax {
  background-image: url("./assets/images/contact.png");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input{
  background-color: rgba(120, 122, 145,.55) !important;
  color:#EEEEEE !important;
  border: none !important;
}

::placeholder {
  color:#EEEEEE !important;
  font-family: 'Righteous', cursive;
}

.form-button{
  font-family: 'Righteous', cursive;
  width: 200px !important;
  background-color: rgba(120, 122, 145,.55) !important;
  color: '#EEEEEE' !important;
  border: none !important
}

.test-container{
  height: '10%';
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  justify-content: center !important;
  margin: auto;
  left: 0;  right: 0;
}

.test-container:hover{
  border: 1px solid gray;
}

.icon{
  right: 0;
  
}

.contact-title{
  font-size: 6vw;
  font-family: 'Righteous', cursive;
  color:#787A91;
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
}

.about-text{
  font-size: 1.1vw;
  font-family: 'Righteous', cursive;
  color: rgba(178, 177, 185,.5) !important;

}

.about-title{
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Righteous', cursive;
  color: rgba(178, 177, 185,.55) !important;

}

.name{
  font-family: 'Righteous', cursive;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(178, 177, 185);

}

.job{
  color: rgba(178, 177, 185,.55);
  font-family: 'Righteous', cursive;
  font-size: 2vw;
  font-weight: thin;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addcomment{
  padding-left:1 !important;
  font-family: 'Righteous', cursive;
}
.addcommenticon{
  padding-right:1 !important;
  font-family: 'Righteous', cursive;
  text-align-last: end !important;

}