@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zen+Old+Mincho:wght@700&display=swap');

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navlink{
  color:rgba(255,255,255,.55);
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  justify-content: flex-end;
}

.navlink:hover{
  color: gray;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  bottom: 20;
  z-index: 100;
}
.image{
  border-radius: 900px;
  width: 20%;
  height: 90%;
  z-index: 5;
}
.image-container{
  padding:20px;
  width: 100%;
  align-self: center;
  text-align: center;
  margin-top: 50px;
  /* position: relative; */
  
}

.about-container{
  /* position: absolute; */
  background-color: #393E46;
  align-self: center;
  width: 100%;
  height: 100vh;
  /* margin-top: -100px; */
  z-index: -1;
  padding:50px
}

.parallax {
  /* The image used */
  background-image: url("./assets/images/contact.png");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
